section {
  padding: 1rem;
}

nav {
  background-color: #0057a4;
}

nav #nav-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #nav-logo i {
  margin-right: 0.5rem;
}

nav #nav-logo #user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #nav-logo #user-info a {
  height: 0.8rem;
  font-size: 0.8rem;
  padding: 0.5rem 0.3rem;
}

nav #nav-logo p.logo {
  margin: 0;
  font-size: 1.3rem;
  color: white;
  padding: 1.8rem 0 0 2rem;
}

nav #nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 0 0 16rem;
}

nav #nav-menu a.current {
  background-color: white;
  color: black;
}

section#main-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15rem auto;
      grid-template-columns: 15rem auto;
}

section#main-section div#sidebar {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 3rem;
  border-right: 1px solid #c4c4c4;
}

section#main-section div#sidebar button {
  margin: 0.3rem 0;
}

section#main-section div#sidebar i {
  margin-right: 0.5rem;
}

section#main-section div#sidebar a {
  padding-left: 0.3rem;
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem 0 0 0;
  border-left: 5px solid white;
}

section#main-section div#sidebar a:hover {
  color: #767a7f;
}

section#main-section div#sidebar a.current {
  color: #c72926;
  border-left: 5px solid #c72926;
}

section#main-section div#sidebar p {
  font-size: 0.9rem;
  color: #767a7f;
}

section#main-section div#sidebar .sidebar-options {
  margin: 1.5rem 0 0 0.8rem;
}

section#main-section div#sidebar .sidebar-options .subject {
  border-bottom: 1px solid #c4c4c4;
}

section#main-section div#main-content {
  padding: 0 1rem;
}

section#main-section div#main-content h1 {
  font-size: 1.2rem;
  color: #023768;
  margin: 1rem 0;
}

section#main-section div#main-content h1 i {
  margin-right: 0.5rem;
}

section#main-section div#main-content h1,
section#main-section div#main-content h2 {
  font-weight: bold;
}

section#main-section div#main-content h2,
section#main-section div#main-content p {
  color: #767a7f;
  margin: 0.3rem 0;
}

section#main-section div#main-content div#pagination-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9e7e7;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.3rem;
}

section#main-section div#main-content div#pagination-bar p {
  font-size: 0.8rem;
}

section#main-section div#main-content div#pagination-bar p a {
  text-decoration: none;
  margin-left: 0.3rem;
}

section#main-section div#main-content div#pagination-bar p a:hover {
  color: #616161;
}

section#main-section div#main-content div#pagination-bar .sub-bar {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section#main-section div#main-content div#pagination-bar .sub-bar input,
section#main-section div#main-content div#pagination-bar .sub-bar select,
section#main-section div#main-content div#pagination-bar .sub-bar button {
  margin: 0 0.3rem;
  font-size: 0.7rem;
  padding: 0.1rem;
  font-weight: 100;
}

section#main-section div#main-content .data-container tr td.fixed-width-14 {
  min-width: 14rem;
}

section#main-section div#main-content .data-container tr td.fixed-width-3 {
  width: 3rem;
}

section#main-section div#main-content .data-container tr td.fixed-width-22 {
  min-width: 22rem;
}

section#main-section div#main-content form .scrollable-vertical div {
  display: -ms-grid;
  display: grid;
  text-align: left;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
}

section#main-section div#main-content form .scrollable-vertical div input {
  width: 100%;
}

section#main-section div#main-content #campaign-details {
  margin: 1rem 0;
}

section#main-section div#main-content #campaign-details div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem 0;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
}

section#main-section div#main-content #campaign-details div i {
  color: #767a7f;
}

section#main-section div#main-content #campaign-details div p {
  margin: 0 0 0 0.3rem;
  font-size: 0.9rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

section#main-section div#main-content #campaign-details div.alert-msg {
  background-color: #fff5b1;
}
/*# sourceMappingURL=main.css.map */