<nav>
  <div id="nav-logo">
    <p class="logo"><i class="fas fa-envelope-open"></i>KonfinityPost</p>
    <!-- <div id="user-info">
        <a href="">Konfinity,</a>
        <a href="">Settings</a>
        <a>|</a>
        <a href="">Logout</a>
      </div> -->
  </div>
  <div id="nav-menu">
    <a href="/" class="menu-button current">Campaigns</a>
    <a href="/lists" class="menu-button">Contact List</a>
    <a href="/reports" class="menu-button">Reports</a>
  </div>
</nav>
