<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/root.css" />
    <link rel="stylesheet" href="../css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <title>KonfinityPost</title>
  </head>
  <body>
    <% include nav/campaign %>
    <section id="main-section">
      <div id="sidebar">
        <button
          class="panel-button-large"
          onclick="window.location.href = '/campaigns/create'"
        >
          Create a Campaign
        </button>
        <button
          class="panel-button"
          onclick="window.location.href = '/campaigns/send'"
        >
          Send a Campaign
        </button>
        <a href="/"><i class="fas fa-envelope"></i>Campaigns Queue</a>
        <a href="/campaigns/completed" class="current"
          ><i class="fas fa-check-circle"></i>Completed Queue</a
        >
      </div>
      <div id="main-content">
        <h1><i class="fas fa-check-circle"></i>Completed Campaigns</h1>
        <div id="pagination-bar">
          <div id="left-bar" class="sub-bar">
            <input type="checkbox" name="" id="" />
            <button>Deleted Selected</button>
          </div>
          <div id="right-bar" class="sub-bar">
            <select name="" id="">
              <option value="">10 per page</option>
            </select>
            <p>[Page 1 of 1]</p>
            <p>
              <a> <i class="fas fa-fast-backward"></i></a>
              <a><i class="fas fa-step-backward"></i></a>
              <a>1</a>
              <a> <i class="fas fa-step-forward"></i></a>
              <a><i class="fas fa-fast-forward"></i></a>
            </p>
          </div>
        </div>

        <table class="data-container">
          <% for (campaign in campaigns){ %>

          <tr>
            <td class="fixed-width-3">
              <input class="table-ip" type="checkbox" name="" id="" />
            </td>
            <td class="fixed-width-14">
              <p class="subject"><%= campaigns[campaign].name %></p>
              <p class="smaller"><%= campaigns[campaign].subject %></p>
            </td>
            <td>
              <!--  <%= campaigns[campaign].list %> -->
              <p>Ambassador List</p>
              <div class="smaller hover-only">
                <a href="">[view]</a>
                <a href="" class="delete">[delete]</a>
              </div>
            </td>
            <td>
              <p>Completed On</p>
              <p class="smaller sent-date">
                <%let month = campaigns[campaign].createdAt.getMonth()+1%>
                <%=campaigns[campaign].createdAt.getDate() + '/'+ month + '/'+
                campaigns[campaign].createdAt.getFullYear(); %>
              </p>
            </td>
          </tr>

          <% } %>
        </table>
      </div>
    </section>
  </body>
</html>
